.sample {
    background-color: green;
    color: crimson;
}

body {
    text-align: center;
}

textarea {
    resize: none;
}

.base {
    display: inline-block;
}

.output-textarea {
    text-align: left;
    border: solid 1px #000000;
    font-size: 15px;
    height: 150px;
    width: 380px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    /* padding-top: 10%; */
}

.button-decoration {
    width: 100px;
    /* padding: 5px; */
    margin: 5px;
}

.left-column {
    float: left;
    text-align: left;
    /* width: 50%; */
    width: 200px;
    color: green;
    margin-bottom: 5px;
    /* background-color: #aaa; */
}

.right-column {
    float: right;
    text-align: left;
    /* width: 20%; */
    width: 100px;
    border: solid 1px #000000;
    margin-bottom: 5px;
}